@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import url('https://api.fontshare.com/v2/css?f[]=melodrama@400,700&f[]=switzer@400,500,600&display=swap');

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-desk: var(--desk);
  --color-wall: var(--wall);
  --color-glow: var(--glow);
}

:root {
--background: #0A0A14;

--foreground: rgba(235,235,220,0.8);

--desk: #F7F5F0;
--wall: #fffcbe;

--glow: #ffffff;
}

@layer base {
  body {
    @apply bg-wall text-foreground;
    font-family: 'Inter', sans-serif;
  }
}